.p-img{
	width:90px;
}

.sub-pokemon-list{
	text-align: left;
}

.items-list{
	display: flex;
	width:100%;
}

.items-list img{
	width:40px;
	/*height: 60px;*/

}

.items-list > div{
	/*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    margin: 2px;
    padding: 2px;
    text-align: center;
    /*background-position: center center;*/
}

tr.candidate-evolution{
	background-color: rgba(240,240,240,0.5);
}

.next-evolution-zone{
	text-align: center;	
}

.next-evolution-zone img{
	width: 90px;
}

.next-evolution-zone.can-not-evolve{
	opacity: 0.25;
}

